<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/82fab87c02.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/normalize.css">
    <link rel="stylesheet" href="resources/sass/styles.css">
    <link rel="stylesheet" href="resources/css/style_login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Dancing+Script:wght@700&family=Roboto+Serif:wght@500&family=Tilt+Prism&display=swap"
        rel="stylesheet">
    <title>LYTAS Soft</title>
</head>

<body>
    <div id="contenedor">
        <div class="cabecera">
            <header>
                <img src="/resources/assets/logo.png" alt="">
            </header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://www.ticarte.com/" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Educacion
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://www.ticarte.com/">Educacion General</a>
                                <a class="dropdown-item" href="http://www.ticarte.com/">Ciclos Formativos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.ticarte.com/">Tecnologias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.ticarte.com/">Que Hacemos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.ticarte.com/">Quienes somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.ticarte.com/">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://www.ticarte.com/">Admin</a>
                        </li>
                        <li>
                            <% if (login) { %>
                            <p style="color: white;">EL usuario conectado es: <strong><%= name %></strong></p>
                            <a href="logout" class="a-logout">Logout</a>
                            <% } else { %>
                            <p style="color: white;"><strong><%= name %></strong></p>
                            <a href="login" class="a-login">Ir al LOGIN</a>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </nav>
            <h1>Si buscas una presencia en línea que marque la diferencia, has llegado al lugar correcto.</h1>
        </div>
        <div id="contenido">
            <main>
                <article>
                    <h2>Las tendencias actuales en el diseño web</h2>
                    <p>El diseño web está en constante evolución y es importante mantenerse al tanto de las últimas
                        tendencias. En la actualidad, hay varias tendencias populares que están influyendo en la forma
                        en que se crean y se ven los sitios web.</p>
                    <p>Una de las tendencias más destacadas es el diseño minimalista, que se caracteriza por la
                        simplicidad, el uso de espacios en blanco y la eliminación de elementos innecesarios. Este
                        enfoque se centra en la experiencia del usuario y la facilidad de navegación.</p>
                    <p>Otra tendencia en auge es el diseño responsive, que se adapta automáticamente a diferentes
                        tamaños de pantalla, lo que permite una experiencia consistente en dispositivos móviles y de
                        escritorio. Con el aumento del uso de dispositivos móviles, la optimización para móviles se ha
                        vuelto fundamental.</p>
                    <!-- <p>Además, el diseño centrado en el contenido se ha vuelto cada vez más importante. Los sitios web
                            ahora se centran en presentar el contenido de manera clara y atractiva, utilizando tipografía y
                            elementos visuales para destacar la información más relevante.</p> -->
                    <p>Por último, la integración de animaciones y microinteracciones está ganando popularidad. Estos
                        elementos agregan dinamismo y atractivo visual al sitio web, mejorando la interacción del
                        usuario y brindando una experiencia más inmersiva.</p>
                    <p>En resumen, el diseño web actual se enfoca en la simplicidad, la adaptabilidad, el contenido de
                        calidad y la interacción cautivadora. Mantenerse al día con estas tendencias puede ayudar a
                        crear sitios web modernos y atractivos.</p>
                </article>
                <div class="container">
                    <div class="row">
                        <div class="col table-responsive">
                            <table class="table table-striped">
                                <caption>Las principales tecnologias para el desarrollo web</caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Tecnología</th>
                                        <th>Características principales </th>
                                        <th>Ejemplos de uso </th>
                                        <th>Ventajas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>HTML</td>
                                        <td>Lenguaje de marcado utilizado para estructurar el contenido de una página
                                            web.</td>
                                        <td>Definir la estructura y los elementos de una página web.</td>
                                        <td>Fácil de aprender, soportado en todos los navegadores. </td>
                                    </tr>
                                    <tr>
                                        <td>CSS</td>
                                        <td>Lenguaje de estilo utilizado para definir la apariencia y presentación de
                                            una página
                                            web.</td>
                                        <td>Aplicar estilos, diseños y efectos visuales a una página web.</td>
                                        <td>Permite la separación de la presentación del contenido.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>JavaScript</td>
                                        <td>Lenguaje de programación utilizado para agregar interactividad y dinamismo a
                                            las páginas
                                            web.</td>
                                        <td>Validar formularios, crear animaciones, manipular elementos del DOM.</td>
                                        <td>Ejecución en el lado del cliente, amplia disponibilidad de bibliotecas y
                                            marcos.</td>
                                    </tr>
                                    <tr>
                                        <td>PHP</td>
                                        <td>Lenguaje de programación del lado del servidor utilizado para el desarrollo
                                            de
                                            aplicaciones web.</td>
                                        <td>Procesar formularios, acceder a bases de datos, generar contenido dinámico.
                                        </td>
                                        <td>Fácil integración con servidores web, amplia comunidad de desarrolladores.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Python</td>
                                        <td>Lenguaje de programación versátil y fácil de aprender que se utiliza tanto
                                            en el lado
                                            del cliente como en el servidor.</td>
                                        <td>Desarrollo de aplicaciones web, inteligencia artificial, análisis de datos.
                                        </td>
                                        <td>Sintaxis clara y legible, amplia disponibilidad de bibliotecas y marcos.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ruby</td>
                                        <td>Lenguaje de programación de alto nivel y fácil de leer y escribir, conocido
                                            por su
                                            enfoque en la simplicidad y la productividad.</td>
                                        <td>Desarrollo web, automatización de tareas, creación de aplicaciones web
                                            dinámicas.</td>
                                        <td>Conciso y expresivo, enfoque en la productividad del desarrollador.</td>
                                    </tr>
                                    <tr>
                                        <td>Node.js </td>
                                        <td>Entorno de ejecución de JavaScript del lado del servidor que permite
                                            construir
                                            aplicaciones web escalables y de alto rendimiento.</td>
                                        <td>Desarrollo de servidores web, aplicaciones en tiempo real, aplicaciones de
                                            red.</td>
                                        <td>Operaciones de entrada/salida no bloqueantes, rendimiento escalable.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <h4>Siguenos</h4>
                <div class="redes-container">
                    <a href="https://www.whatsapp.com" title="WhatsApp"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
                    <a href="https://www.facebook.com/" rel="noopener" target="_blank" title="Facebook"><i
                            class="fa-brands fa-facebook fa-xl"></i></a>
                    <a href="https://www.instagram.com" title="Instagram"><i
                            class="fa-brands fa-instagram fa-xl"></i></a>
                    <a href="https://www.twitch.com" title="Twitch"><i class="fa-brands fa-twitch fa-xl"></i></a>
                    <a href="https://www.discord.com" title="Discord"><i class="fa-brands fa-discord fa-xl"></i></a>
                </div>
            </main>
            <aside>
                <div id="recomendados">
                    <h3>Te Recomendamos</h3>
                    <div class="recomendacion">
                        <img src="https://tuatara.co/wp-content/uploads/2023/01/Opengraph-3.jpg" alt="">
                        <p>Las tendencias más destacadas en el desarrollo web para el año 2023</p>
                        <img src="https://fixu.cl/wp-content/uploads/2023/03/mejorar-velocidad-y-rendimiento-web-1024x536.png"
                            alt="">
                        <p>Consejos clave para optimizar el rendimiento de tu sitio web</p>
                        <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/08/inteligencia-artificial_0.jpg?tf=3840x"
                            alt="">
                        <p>Inteligencia Artificial revoluciona el desarrollo web: ¿Qué debes saber?</p>
                    </div>
                </div>
                <div id="escribenos">
                    <form id="form">
                        <fieldset>
                            <legend>Por favor, rellene todos los campos</legend>
                            <label for="nombre">Tu Nombre:</label>
                            <input type="text" id="name" name="nombre" placeholder="Escribe tu Nombre" required="">
                            <label for="apellido">Tu correo electronico:</label>
                            <input type="email" id="email" name="correo" placeholder="Escribe tu correo" required="">
                            <label for="comentario">Comentario:</label>
                            <textarea id="comentario" name="comentario" rows="2" cols="30"></textarea>
                            <input type="submit" value="Enviar">
                            <p class="warnings" id="warnings"></p>
                        </fieldset>
                    </form>
                </div>
            </aside>
        </div>
        <div class="clearfix"></div>
        <footer class="bg-light text-dark pt-5 pb-4">
            <div class="container text-center text-md-start">
                <div class="row text-center text-md-start">
                    <div class="col-md-3 col-lg-3 col-cl-3 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
                        <hr class="mb-4">
                        <p>
                            Somos una empresa de tecnologia, diseño y desarrollo de sitios web optimizados, efectivos y
                            visualmente atractivos que le permiten a su empresa dar a conocer los productos y servicios.

                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-cl-2 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Dejanos Ayudarte</h5>
                        <hr class="mb-4">
                        <p>
                            <a href="#" class="text-dark">Tu cuenta</a>
                        </p>
                        <p>
                            <a href="#" class="text-dark">Tus ordenes</a>
                        </p>
                        <p>
                            <a href="#" class="text-dark">Manejo de cuenta</a>
                        </p>
                        <p>
                            <a href="#" class="text-dark">Ayuda</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-cl-2 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Pide tu pagina Web</h5>
                        <hr class="mb-4">
                        <p>
                            <a href="#" class="text-dark">Creacion de paginas web</a>
                        </p>
                        <p>
                            <a href="#" class="text-dark">Anuncios</a>
                        </p>
                        <p>
                            <a href="#" class="text-dark">Afiliate</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-cl-2 mx-auto mt-3">
                        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
                        <hr class="mb-4">
                        <p>
                            <li class="fas fa-home me-3"></li>Machala, EL Oro
                        </p>
                        <p>
                            <li class="fas fa-envelope me-3"></li>ly@lytasoft.com
                        </p>
                        <p>
                            <li class="fas fa-phone me-3"></li>0701456985
                        </p>
                        <p>
                            <li class="fas fa-print me-3"></li>+5932514296
                        </p>
                    </div>
                </div>
                <hr class="mb-4">

                <div class="text-center mb-2">
                    <p>
                        Copryright Todos los derechos reservados
                    </p>
                </div>
                <a href="#contenedor">Ir al Inicio de la Pagina</a>
            </div>
            <script src="js/validacion.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        </footer>
    </div>
   
</body>

</html>